<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>RayTracer Web</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div id="left">
        <h1>Configuration</h1>
        <form name="configuration" method="post" action="/set_configuration">

            <!-- Camera -->
            <div class="camera">
                <h2>Camera:</h2>

                <h4>Resolution:</h4>
                <label>Width:</label>
                <input type="number" name="camera_resolution_width" placeholder="1280" min="0" max="1920" />
                <label>Height:</label>
                <input type="number" name="camera_resolution_height" placeholder="720" min="0" max="1080" />

                <h4>Position:</h4>
                <label>x:</label>
                <input type="number" name="camera_position_x" placeholder="0" step="0.1" />
                <label>y:</label>
                <input type="number" name="camera_position_y" placeholder="5" step="0.1" />
                <label>z:</label>
                <input type="number" name="camera_position_z" placeholder="15" step="0.1" />

                <h4>Rotation:</h4>
                <label>x:</label>
                <input type="number" name="camera_rotation_x" placeholder="0" step="0.1" />
                <label>y:</label>
                <input type="number" name="camera_rotation_y" placeholder="0" step="0.1" />
                <label>z:</label>
                <input type="number" name="camera_rotation_z" placeholder="0" step="0.1" />

                <h4>Field of View:</h4>
                <label>FOV:</label>
                <input type="number" name="camera_fov" placeholder="50" min="0" max="179" />
            </div>

            <br />

            <!-- Primitives -->
            <div class="primitives">
                <h2>Primitives:</h2>

                <h4>Sphere 1:</h4>
                <label>x:</label>
                <input type="number" name="sphere1_x" placeholder="4" step="0.1" />
                <label>y:</label>
                <input type="number" name="sphere1_y" placeholder="3.5" step="0.1" />
                <label>z:</label>
                <input type="number" name="sphere1_z" placeholder="1" step="0.1" />
                <label>Radius:</label>
                <input type="number" name="sphere1_radius" placeholder="1" min="0" step="0.1"/>
                <label>r:</label>
                <input type="number" name="sphere1_color_r" min="0" max="255" placeholder="200" />
                <label>g:</label>
                <input type="number" name="sphere1_color_g" min="0" max="255" placeholder="100" />
                <label>b:</label>
                <input type="number" name="sphere1_color_b" min="0" max="255" placeholder="0" />

                <h4>Sphere 2:</h4>
                <label>x:</label>
                <input type="number" name="sphere2_x" placeholder="3" step="0.1" />
                <label>y:</label>
                <input type="number" name="sphere2_y" placeholder="1" step="0.1" />
                <label>z:</label>
                <input type="number" name="sphere2_z" placeholder="0" step="0.1" />
                <label>Radius:</label>
                <input type="number" name="sphere2_radius" placeholder="1.5" min="0" step="0.1" />
                <label>r:</label>
                <input type="number" name="sphere2_color_r" min="0" max="255" placeholder="0" />
                <label>g:</label>
                <input type="number" name="sphere2_color_g" min="0" max="255" placeholder="100" />
                <label>b:</label>
                <input type="number" name="sphere2_color_b" min="0" max="255" placeholder="200" />
            
                <h4>Plane 1:</h4>
                <label>Axis:</label>
                <select name="plane1_axis">
                    <option value="X">X</option>
                    <option value="Y" selected>Y</option>
                    <option value="Z">Z</option>
                </select>
                <label>Position:</label>
                <input type="number" name="plane1_position" placeholder="-1" />
                <label>r:</label>
                <input type="number" name="plane1_color_r" min="0" max="255" placeholder="230" />
                <label>g:</label>
                <input type="number" name="plane1_color_g" min="0" max="255" placeholder="230" />
                <label>b:</label>
                <input type="number" name="plane1_color_b" min="0" max="255" placeholder="230" />
            
                <h4>Plane 2:</h4>
                <label>Axis:</label>
                <select name="plane2_axis">
                    <option value="X" selected>X</option>
                    <option value="Y">Y</option>
                    <option value="Z">Z</option>
                </select>
                <label>Position:</label>
                <input type="number" name="plane2_position" placeholder="-10" />
                <label>r:</label>
                <input type="number" name="plane2_color_r" min="0" max="255" placeholder="150" />
                <label>g:</label>
                <input type="number" name="plane2_color_g" min="0" max="255" placeholder="150" />
                <label>b:</label>
                <input type="number" name="plane2_color_b" min="0" max="255" placeholder="150" />
            
            </div>

            <br />

            <!-- Lights -->
            <div class="lights">
                <h2>Lights:</h2>
                <label>Ambient:</label>
                <input type="number" name="light_ambient" placeholder="0.2" min="0" max="1" step="0.1" />
                <label>Diffuse:</label>
                <input type="number" name="light_diffuse" placeholder="0.8" min="0" max="1" step="0.1" />

                <h4>Point:</h4>
                <label>x:</label>
                <input type="number" name="light_point_x" placeholder="0" step="0.1" />
                <label>y:</label>
                <input type="number" name="light_point_y" placeholder="5" step="0.1" />
                <label>z:</label>
                <input type="number" name="light_point_z" placeholder="0" step="0.1" />
                <label>intensity:</label>
                <input type="number" name="light_point_intensity" placeholder="0.5" min="0" step="0.1" />
                <label>r:</label>
                <input type="number" name="light_point_color_r" min="0" max="255" placeholder="255" />
                <label>g:</label>
                <input type="number" name="light_point_color_g" min="0" max="255" placeholder="240" />
                <label>b:</label>
                <input type="number" name="light_point_color_b" min="0" max="255" placeholder="210" />

                <h4>Directional:</h4>
                <label>x:</label>
                <input type="number" name="light_directional_x" placeholder="0" step="0.1" />
                <label>y:</label>
                <input type="number" name="light_directional_y" placeholder="-1" step="0.1" />
                <label>z:</label>
                <input type="number" name="light_directional_z" placeholder="-0.5" step="0.1" />
            </div>

            <button type="submit">Submit</button>
        </form>
    </div>

    <div id="right">
        <h1>RENDER</h1>
        <img src="{{ img_src }}" alt="Render Image" />
    </div>
</body>

</html>
